/* -- Layout Components -- */

.container {
	margin: 10px auto;
	
	@media (min-width: $largest-breakpoint) {
		width:40em;
	}
	
	@media (min-width: 65em) {
		width: 65em;
	}

	#logo {
		margin: 2.5%;
		width: 100px;
		height: auto;
	}

	ul {
		padding: 0;
		margin:0;
	}
	
	a {
		display: block;
		padding: 1em;
		text-align:center;

		img {
			padding: 0;
		}
	}
	
	@media (min-width:40em) {
		ul { @include clearfix; list-style-type: none; }
		li { float:left; margin: 0.3em 1em }
		li:first-child{ margin-left:0; }
		a{ padding:0.5em 1em; text-align:left; float: left; }
		a.menu-link { margin-top: -90px; }
	}
}

/* -- Banner Components -- */
.banner {
	min-height: 360px;
	margin: auto;
	padding: 0 2% 1%;
	
	@media (min-width: $largest-breakpoint) {
		width:40em;
	}
	
	@media (min-width: 60em) {
		width: 60em;
	}

	@media (max-width: 60em) {
		h2 { clear: both; padding-top: 3%; margin: 0 2% 0 2%; }
	}

	img {
		float: left;
		max-width: 100%;
		height: auto;
		padding-right: 2%;
	}
}

.col-container{
	@include clearfix;
}
.col{
	margin-top:1em;
	padding-top:1em;
	min-height:200px;
	&:first-child { margin-top:0; padding-top:0; border:none; }
	
	@media (min-width: $largest-breakpoint){
		float:left;	
		margin-top:0;
		padding-top:0;
		border:none;
	}
}

.col-1{ background:purple; width:100%; }

.col-2{
	background:orange;
	@media (min-width: $largest-breakpoint){
		width:48.75%;
		margin-left:2.5%;
		&:first-child{ margin-left:0; }
	}
}

.col-3{
	
	@media (min-width:$largest-breakpoint){
		width:32%;
		margin-left:2%;
		&:first-child{ margin-left:0; }
	}

	@media (max-width: 60em) {
		h3 { text-align: left; }
	}

	@media (min-width: 40em) {
		a {
		padding: 0.5em 1em;
		text-align: left;
		float: none;
		}

		h3 {
			text-align: left;
			margin-top: -5px;
		}
	}

	img {
		max-width: 100%;
	}

	#quote {
		color: #444;
		@include font-size(9);
		margin: -20px 2% 0 2%;
	}
}