/* -- Navigation components -- */
.main-nav{
	ul{ list-style-type: none; padding:0; margin:0; }
	li{ margin-top:1em; }
	a{ display:block; padding:1em; text-align:center; }
	
	@media (min-width:40em){
		ul { @include clearfix; }
		li { float:left; margin-left:1em; margin-top:0; }
		li:first-child{ margin-left:0; }
		a{ padding:0.5em 1em; text-align:left; }	
	}
}

.container {
	margin: 0 auto;
	
	@media (min-width: $largest-breakpoint) {
		width:40em;
	}
	
	@media (min-width: 55em) {
		width: 55em;
	}

	img {
		margin: 2.5%;
		width: 100px;
		height: auto;
	}

	ul {
		padding: 0;
		margin:0;
	}
	
	a {
		display: block;
		padding: 1em;
		text-align:center;

		img {
			padding: 0;
		}
	}
	
	@media (min-width:40em) {
		ul { @include clearfix; list-style-type: none; }
		li { float:left; margin: 0.3em 1em }
		li:first-child{ margin-left:0; }
		a{ padding:0.5em 1em; text-align:left; float: left; }
		a.menu-link { margin-top: -90px; }
	}
}

.pattern {
	border-bottom: 1px solid #808080;
	margin-bottom: 1em;
	overflow: hidden;
}

section { padding:1em; }

a.menu-link {
	float:right;
	margin-top: -87px;
	display:block;
	padding:1em;

	&:before {
	content:'\2630';
	color: #000;
	font-size: 36px;
	font-weight: bold;
	}

	&:hover {
		text-decoration: none;
	}
}

/* Hide */
nav[role=navigation] {
	max-height:0;
}

/* Show */
nav[role=navigation].active {
	max-height:15em;
}

/* Vertical Menu */
nav[role=navigation] {
	// clear: both;
	-webkit-transition: all 0.3s ease-out;  
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

nav[role=navigation] ul {
	margin: 0;
	padding: 0;
	border-top: 1px solid #808080;
}

nav[role=navigation] li a {
	display: block;
	padding: 0.8em;
}

/* Large Screen */
@media screen and (min-width: 48.25em) {
	a.menu-link {
		display:none;
	}
	nav[role=navigation] {
		max-height: none;
		float: left;
	}
	nav[role=navigation] ul {
		margin: 0 0 0 -0.25em;
		border: 0;
	}

/* Horizontal Navigation */	
	nav[role=navigation]  li {
		display: inline-block;
		margin: 0.3em 1em;
	}
	nav[role=navigation] li a {
		border: 0;
	}
}