/* -- Normalize -- */
@import 'normalize';

/* -- Mixins -- */
@import 'mixins';

$largest-breakpoint: 1007px;

/* -- Fonts -- */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
$primary-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

body { 
	font-family: $secondary-font;
}

h2 {
	font-family: $primary-font;
	@include font-size(22);
}

a:link {
	color: #333;
	text-decoration: none;
}

a:visited {
	color: #333;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

/* -- Banner Components -- */
.banner {
	height:300px;
	background:#EEE;
}

/* -- Navigation components -- */
@import 'navigation';

/* -- Layout Components -- */
@import 'layout';