/* -- Normalize -- */
@import 'normalize';

/* -- Mixins -- */
@import 'mixins';

$largest-breakpoint: 1007px;

/* -- Fonts -- */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
$primary-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

* {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

body { 
	font-family: $secondary-font;
}

h2 {
	font-family: $primary-font;
	@include font-size(22);
}

h3 {
	font-family: $primary-font;
	@include font-size(14);
}

h6 {
	font-family: $primary-font;
	font-weight: normal;
	@include font-size(9);
	margin-top: -30px;
}

a:link {
	color: #333;
	text-decoration: none;
}

a:visited {
	color: #333;
}

a:hover {
	color: #0093cc;
}

a:active {
	text-decoration: none;
}

/* -- Navigation components -- */
@import 'navigation';

/* -- Layout Components -- */
@import 'layout';